.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr 400px;
}

.states,.settings {
  background: rgb(37, 37, 37);
  color: white;
  padding: 10px;
}

.canvas {
  padding: 20px;
  background: #e2e1e0;
  overflow: auto;
}

.canvas > canvas {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-sizing: border-box;
  background: white;
}